.dex {
    &__header {
        &__logo {
            width: 100px;
            transition: width 250ms ease, background-color 150ms ease;
            padding: 5px;
            
            @media all and (min-width: 481px) {
                width: 130px;
            }
            
            @media all and (min-width: 768px) {
                width: 150px;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                .top-nav-collapse & {
                    width: 110px;
                    padding: 0;  
                    background-color: #fff;

                }    
            }
            
            @media all and (min-width: 992px) {
                width: 200px;
                padding: 10px;
            }
            
        }
        
        .navbar-brand {
            padding: 4px 0 0 !important;
        }
    }
}